.machine-page-container {
    padding: 5em;
    background-color: #e9e9e9e3;
    width: 100%;
    height: 100%;
}
.first-row {
    display: flex;
    justify-content: space-between;
}
.status .heading, .mask-inventory .heading, .vending-machines .heading {
    font-size: 2.5em;
    text-align: left;
    color: #383838;
    margin-bottom: 10px;
}
.machine-card-data {
    display: flex;
}
.machine-card-data>div {
    width: 50%;
}
.status, .mask-inventory {
    width: 48%;
    border-radius: 30px;
    height: 350px;
    background-color: white;
    padding: 0.5em 1em;
    box-shadow: 1px 3px 8px rgb(161, 161, 161);
}
.status-head-div {
    display: flex;
    justify-content: space-between;
}
.status-head-div .offline, .status-head-div .online {
    font-size: 1.5em;
}
.offline {
    color: #f56071;
    padding: 0 0.5em;
}
.online {
    color: #85d8ab;
    padding: 0 0.5em;
}
.status-body {
    margin: 0;
    width: 100%;
    overflow-y: scroll;
    height: 200px;
}
.second-row {
    padding-top: 4em;
}
.vending-machines {
    width: 100%;
    border-radius: 30px;
    padding: 0.5em 1em;
    box-shadow: 1px 3px 8px rgb(161, 161, 161);
    background-color: white;
    height: 600px;
}