.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 110px;
  padding: 3em 0.8em;
  height: 100vh;
}
.navbar-upper-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.machine div,
.money div,
.settings div {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding: 1em;
}
.machine,
.money,
.settings {
  cursor: pointer;
}
.active {
  background-color: rgb(59, 138, 241);
  text-align: center;
  width: 80px !important;
  height: 80px !important;
  margin: auto !important;
}
.machine img {
  width: 100%;
  height: 100%;
}
.money {
  margin-top: 4em;
}
.money .money-symbol {
  font-size: 4em;
  margin: 0;
  padding: 0;
}
.machine .machine-symbol,
.settings .settings-symbol {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}
