.machine-page-container {
  padding: 5em;
  background-color: #e9e9e9e3;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.first-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.status .heading,
.mask-inventory .heading,
.vending-machines .heading {
  font-size: 2.5em;
  text-align: left;
  color: #383838;
  margin-bottom: 20px;
}
.machine-card-data {
  display: flex;
}
.machine-card-data > div {
  width: 50%;
}
.status,
.mask-inventory {
  width: 48%;
  border-radius: 30px;
  background-color: white;
  padding: 0.5em 1em;
  box-shadow: 1px 3px 8px rgb(161, 161, 161);
  margin: 1.5em 0;
}
.status-head-div {
  display: flex;
  justify-content: space-between;
  padding-right: 0.5em;
  padding-bottom: 1em;
}
.status-head-div .offline,
.status-head-div .online {
  font-size: 1.5em;
}
.offline {
  color: #f56071;
  margin: 0 0.5em;
  cursor: pointer;
  border-color: #f56071;
}
.online {
  color: #85d8ab;
  margin: 0 0.5em;
  cursor: pointer;
  border-color: #85d8ab;
}
.online-body {
  color: #85d8ab;
}
.offline-body {
  color: #f56071;
}
.active-tab {
  border-bottom: 1px solid;
}
.status-body {
  margin: 0;
  width: 100%;
  overflow-y: scroll;
  height: 190px;
}

.status-body::-webkit-scrollbar {
  width: 0.6em;
}
.status-body::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 0 6px #c3c3c3;
  border-radius: 26px;
}
.status-body table,
.status-body tbody {
  width: 100%;
  min-width: 220px;

}
.status-body tr {
  width: 100%;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
}
.status-body td,
.status-body th {
  text-align: left;
  width: 33%;
}
.status-body th {
  font-weight: 500;
  color: black;
}
.status-right-body {
  padding: 0 2em;
}
.status-footer {
  height: 30px;
  width: 90%;
  top: -20px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.541);
  margin-bottom: 10px;
}

.mask-inventory {
  overflow: hidden;
  max-height: 355px;
}
.mask-inventory .heading {
  padding-left: 0.2em;
}
.mask-inventory-body {
  height: 85%;
  overflow-y: scroll;
}
.mask-inventory-body::-webkit-scrollbar {
  width: 0.6em;
}
.mask-inventory-body::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 0 6px #c3c3c3;
  border-radius: 26px;
}
.mask-inventory-body .donutchart-text-val {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}
.mask-inventory-body .donutchart-text-label {
  display: inline-block;
  font-size: 6px;
}
.mask-inventory-body .chart-label {
  font-weight: 600;
  font-size: 0.8em;
}
.mask-inventory .card-header {
  text-align: left;
  padding-left: 0.5em;
}
.mask-inventory-body .card-body {
  display: flex;
}
.mask-inventory-body .card-body > div {
  padding: 0.5em;
}
.collapse {
  height: 0;
  transition: 1s ease-in-out;
}
.collapse div {
  display: none;
  transition: 1s ease-in-out;
}
.show {
  height: auto;
  transition: 1s ease-in-out;
}
.show div {
  display: inline-block;
  transition: 1s ease-in-out;
}
.empty-state,
.warning-state,
.filled-state {
  display: flex;
  font-size: 1.8em;
  cursor: pointer;
}
.empty-state p {
  color: #f56071;
}
.warning-state p {
  color: #f5aa60;
}
.filled-state p {
  color: #85d8ab;
}
.empty-state p,
.warning-state p,
.filled-state p {
  padding-right: 0.5em;
  font-weight: 400;
  padding-bottom: 0.5em;
}
.empty-collapse-text,
.warning-collapse-text,
.filled-collapse-text {
  display: flex;
  justify-content: flex-start;
}
.empty-data {
  padding-right: 1em;
  display: inline;
}

.second-row {
  padding-top: 4em;
}
.vending-machines {
  width: 100%;
  border-radius: 30px;
  padding: 0.5em 1em;
  box-shadow: 1px 3px 8px rgb(161, 161, 161);
  background-color: white;
}
.vending-machines table {
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
}

.vending-table {
  max-height: 410px;
  overflow: auto;
  max-width: 2920px;
  width: 100%;
  margin-bottom: 20px;
}
.vending-table::-webkit-scrollbar {
  width: 0.6em;
}
.vending-table::-webkit-scrollbar-thumb {
  box-shadow: inset 10px 0 6px #c3c3c3;
  border-radius: 26px;
}
.vending-machines th {
  font-weight: 500;
  padding-bottom: 15px;
  font-size: 1.3em;
  text-align: left;
  color: #464646;
}
.vending-machines td {
  font-weight: normal;
  font-family: sans-serif;
  text-align: left;
  font-size: 1.3em;
  color: #464646;
}
.vending-status-offline, .low-vending {
    color: #f56071 !important;
}
.moderate-vending {
    color: #f5aa60 !important;
}
.vending-footer {
  height: 35px;
  width: 90%;
  top: -45px;
  position: relative;
  /* background-color: red; */
  background-color: rgba(255, 255, 255, 0.541);
  margin-bottom: 10px;
}

@media screen and (max-width: 1380px) {
  .machine-card-data {
    display: block;
  }
  .status-right-body {
    width: 100% !important;
  }
}
@media screen and (max-width: 1000px) {
  .status,
  .mask-inventory {
    width: 100%;
  }
  .machine-card-data {
    display: block;
  }
  .status-right-body {
    width: 100% !important;
  }
}
@media screen and (max-width: 850px) {
  .machine-page-container {
    padding: 1em;
  }
}
@media screen and (max-width: 450px) {
  .donutchart circle {
    stroke-width: 10 !important;
    width: 90%;
    height: 90% ;
  }
  .donutchart-text-val {
    font-size: 20px;
  }
  .donutchart-text-label {
    font-size: 10px;
  }
}

